.App {
  text-align: center;
  align-items: center;
  margin-bottom: 20px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 500px;
  padding: 80px;
  color: #e1e1e1;
  background-image: url('https://c1.staticflickr.com/5/4079/4944197428_0b66944145_b.jpg');
  /*background-image: url('https://c1.staticflickr.com/9/8245/8462988203_10fc88d3bf_b.jpg');*/
  background-size: cover;
  background-repeat: no-repeat;
}

.App-intro {
  font-size: large;
}

.main-container {
  background-color: #e1e1e1;
}

.navigation-wrapper {
  flex-direction: row;
  display: flex;
  background-color: #e1e1e1;
}

.navigation-item {
  padding: 10px;
  font-size: 14px;
  /*border-right: thin solid grey;*/

}

.navigation-text {
  font-size: 24px;
  color: black;
  text-decoration: none;

}

.bio {
  margin: 80px;
  font-weight: bolder;
  font-size: 50px;
  color: black;
}

.prof-pic {
  height: 250px;
  width: 250px;
  border-radius: 165px;
  box-shadow: 2px 2px 5px black;
}

.home-card {
  background-color: grey;
  width: auto;
  height: auto;
  margin: 50px;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 15px;
  align: center;
}

.card-header {
  color: white;
  font-size: 80px;
}

.card-header-wrap {
  margin-bottom: 150px;
  /*border-style: solid;*/
  border-bottom: thin dotted white;
}

.heavy-title {
  font-size: 60px;
  text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
}
