.App {
  text-align: center;
  align-items: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 500px;
  padding: 80px;
  color: white;
  background-image: url('http://worldpopulationreview.com/us-cities/ann-arbor-population/ann-arbor-population-2016.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.App-intro {
  font-size: large;
}

.prof-pic {
  height: 250px;
  width: 250px;
  border-radius: 165px;
  box-shadow: 2px 2px 5px black;
}

.home-card {
  background-color: grey;
  width: auto;
  height: auto;
  margin: 50px;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 10px;
  align: center;
}

.heavy-title {
  font-size: 60px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
